<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title><%= htmlWebpackPlugin.options.plugin %></title>
  <link rel="stylesheet" href="style/base.css">
  <link rel="stylesheet" href="style/vanilla.css">
  <link rel="stylesheet" href="style/react.css">
  <link rel="stylesheet" href="style/vue.css">
  <link rel="stylesheet" href="style/angular.css">
</head>
<body>
<div class="container" id="vanilla-container"></div>
<div class="container" id="react-container"></div>
<div class="container" id="vue-container"></div>
<div class="container" id="angular-container"></div>
</body>
</html>